<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{ page.title }}</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="https://static.ifinal.io/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://static.ifinal.io/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://static.ifinal.io/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="https://static.ifinal.io/favicons/favicon.ico">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="https://static.ifinal.io/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://static.ifinal.io/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://static.ifinal.io/fonts/material-icons.css"/>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->

  <!--  Material Css -->
  <link href="https://static.ifinal.io/css/material-dashboard.css" rel="stylesheet"/>
  <link href="/assets/css/user.css" rel="stylesheet"/>
  <!-- Markdown 主题  -->
  <link href="https://static.ifinal.io/css/markdown/orangeheart.css" rel="stylesheet"/>

  <!--  代码高亮  -->
  <link rel="stylesheet" href="https://static.ifinal.io/css/highlight/atom-one-dark.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>

</head>